.container{
    padding-top: 15vw;
    padding-left: 12vw;
    padding-right: 12vw;
    padding-bottom: 15vw;
}

.button1{
    background: #a2b1ad;
    border: 0.2vw solid #EDF2F4;
    border-radius: 0.2vw;
    font-size: 1.5vw;
    color: #EDF2F4;
}

.table{
    font-size: 1.5vw;
    border-spacing: 3vw;
}
