{% extends 'base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'style.css' %}">
    <body>
        <div class="container" style="background-color: #9fd7d1">
                    <div class="row">
                        <div class="col">
                            <form action='' method="POST">
                                {% csrf_token %}
                                {{ form }}
                                <div class="centre-items">
                                    <input type="submit" class="button1" value="Add Matkul">
                                </div>
                            </form>
                        </div>
                        <div class="col"">
                            <table class="table">
                                <thead>
                                    <tr>
                                    <th scope="col">Nama</th>
                                    <th scope="col">Dosen</th>
                                    <th scope="col">Jumlah SKS</th>
                                    <th scope="col">Details</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for xx in matkul %}
                                        <tr>
                                        <th scope="row">{{xx.Nama}}</th>
                                        <td>{{xx.Dosen}}</td>
                                        <td>{{xx.JumlahSKS}}</td>
                                        <td><a href={{xx.pk}}/><button class="button1">{{xx.Nama}}</button></a>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                </div>
            </body>
{% endblock content %}