{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'style.css' %}">
<div class="container">
    <table class="table" >
        <tr>
            <td>Nama Matkul</td>
            <td>{{matkul.Nama}}</td>
        </tr>
        <tr>
            <td>Nama Dosen</td>
            <td>{{matkul.Dosen}}</td>
        </tr>
        <tr>
            <td>Jumlah SKS</td>
            <td>{{matkul.JumlahSKS}} SKS</td>
        </tr>
        <tr>
            <td>Deskripsi Matkul</td>
            <td>{{matkul.Deskripsi}}</td>
        </tr>
        <tr>
            <td>Semester</td>
            <td>{{matkul.Periode}}</td>
        </tr>
        <tr>
            <td>ruang</td>
            <td>{{matkul.Kelas}}</td>
        </tr>
    </table>
    <form action="delete/" method="POST" >
        {% csrf_token %}
        <input type="hidden" value="{{ matkul.id }}" name="id">
        <input class="button1" type="submit" value="Delete">
     </form>
     <a href="https://storyfikri.herokuapp.com/matkul"><button class="button2">Back</button></a>
    
</div>
{% endblock content %}
