/* Project-wide style */

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

.navbar .nav-item:hover .nav-link{ background: #2E9299;
  border: 0.1vw transparent #65F3E6;
  border-radius: 0vw;
  font-size: 1.7vw;
}
.navbar .nav-item {background: #2E9299;
  border: 0.1vw transparent #65F3E6;
  border-radius: 0.1vw;
  font-size: 1.7vw;
}
html {
  scroll-behavior: smooth;
}
