{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  {% block meta %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
  {% endblock meta %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  <nav class="navbar navbar-expand-lg navbar-fixed-top" style="background-color: #1A838A;">
  <div id="navsymbol">
    <a class="navbar-brand" href="#abt" id="foto-kecil" >
      <img src="{% static 'img/fotonavbar.png' %}" alt="" id="foto-kecil" style="width: 2 vw; height: 2vw;">
    </a>
    <a class="navbar-brand " href="https://www.linkedin.com/in/fikriadidharma/" target="_blank">
      <img src="{% static 'img/linkedintr.png' %}" alt="" class="ikon" id="" style="width: 2 vw; height: 2vw;">
    </a>
    <a class="navbar-brand " href="https://www.linkedin.com/in/fikriadidharma/" target="_blank">
      <img src="{% static 'img/instagramz.png' %}" alt="" class="ikon" id="" style="width: 2vw; height: 2vw;">
    </a>
    <a class="navbar-brand" href="mailto:achmadfkradd@gmail.com" target="_blank">
      <img src="{% static 'img/gmailz.png' %}" alt="" id="" class="ikon" style="width: 2vw; height: 2vw;">
    </a>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon" id="tombol-nav"></span>
</button>
<div class="collapse navbar-collapse" id="collapsibleNavbar">
    <div class="navbar-nav ml-auto">
        <a class="nav-item nav-link txt-ikon" href="#abt" style="color: #293434">About <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link txt-ikon" href="#edu" style="color: #293434">Education</a>
        <a class="nav-item nav-link txt-ikon" href="#exp" style="color: #293434">Experiences</a>
        <a class="nav-item nav-link txt-ikon" href="#contact" style="color: #293434">Contact</a>
        <a class="nav-item nav-link txt-ikon" href="https://storyfikri.herokuapp.com/project" style="color: #293434">My Project</a></li>
        <a class="nav-item nav-link txt-ikon" href="https://storyfikri.herokuapp.com/matkul/" style="color: #293434">Mata Kuliah</a></li>
        <a class="nav-item nav-link txt-ikon" href="https://story1ppwfikri.herokuapp.com" style="color: #293434">Previous Story</a></li>
    </div>
</div>

</nav>
</head>

<body>
</body>
  {% block content %}
  {% endblock content %}
</html>
