{% extends 'base.html' %}
{% load static %}

<head>
  {% block meta %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile Rizky</title>
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
  {% endblock meta %}
</head>

{% block content %}
<body>
    <div id="awal" style="background-color: #9fd7d1;height:100% ">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                  <img class="img", src="{% static 'img/kitchenfarm.png' %" alt="kitchenfarm" style="width: 5vw; height: 5vw;">
                  <div class="row">
                      <div class="col-md-12">
                        <p style="font-size:20px;font-family:'Courier New';"> Kitchen Farm </p>
                        <div class="row">
                            <div class="col-md-4">
                                <p style="font-size:16px;font-family:'Courier New';"> Team Mate : Ezra and Meutia</p>
                            </div>
                            <div class="col-md-8">
                                <p style="font-size:16px;font-family:'Courier New';"> We proposed our idea, a subscription based grocery shopping using a mobile platform. We proposed our idea in business plan competition held by Faculty of Economics Sriwijaya University. We going through the final round and turns out we get best presentation award.</p>
                            </div>
                        </div>          
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <img class="center", src="{% static 'img/recover.png' %" alt="recover" style="width: 5vw; height: 5vw;">
                  <div class="row">
                      <div class="col-md-12">
                        <p style="font-size:20px;font-family:'Courier New';"> Re-Cover </p>
                        <div class="row">
                            <div class="col-md-4">
                                <p style="font-size:16px;font-family:'Courier New';"> Team Mate : Bregas and Safira</p>
                            </div>
                            <div class="col-md-8">
                                <p style="font-size:16px;font-family:'Courier New';"> We realize we have to raise public awareness to this pandemic. That's why we propose an idea, an mobile application to help us track our travel history, in case we got infected by Covid-19. Also this application will give us a sign about places that most likely would be a cluster.</p>
                            </div>
                        </div>          
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
<div class="container-fluid" style="background-color:#87D0C9">
    <p style="font-size:16px;font-family:'Courier New';text-align:center"><a href="https://www.figma.com/proto/tmO3Y3WKNfi8B0vFlaXG5U/Sketch-awal?node-id=0%3A1&scaling=scale-down">click here</a></p><p style="font-size:16px;font-family:'Courier New';text-align:center"> to see my latest project prototype </p>
</div>

</body>
{% endblock content %}